<?xml version="1.0" ?>
<boinc>
  <config>
    <upload_dir>
      /var/www/boinc/sensor/upload
    </upload_dir>
    <long_name>
      Quake-Catcher Network
    </long_name>
    <cgi_url>http://qcn.stanford.edu/sensor_cgi/</cgi_url>
    <msg_to_host/>
    <sched_debug_level>
      2
    </sched_debug_level>
    <debug_send/>
    <debug_version_select/>
    <uldl_dir_fanout>
      1024
    </uldl_dir_fanout>
    <download_url>http://qcn.stanford.edu/sensor/download</download_url>
    <log_dir>/var/www/boinc/sensor/log_qcn-web</log_dir>
    <app_dir>/var/www/boinc/sensor/apps</app_dir>
    <download_dir>/var/www/boinc/sensor/download</download_dir>
    <fuh_debug_level>0</fuh_debug_level>
    <master_url>http://qcn.stanford.edu/sensor/</master_url>
    <host>
      qcn-web
    </host>
    <db_host>
       db-private
    </db_host>
    <db_user>
       qcn
    </db_user>
    <db_name>
       qcnalpha
    </db_name>
    <db_passwd>
    </db_passwd>
    <trigmem_db_user>
       trigmem
    </trigmem_db_user>
    <trigmem_db_name>
       trigmem
    </trigmem_db_name>
    <trigmem_db_passwd>
       insertTrigMem
    </trigmem_db_passwd>
    <trigmem_db_host>
       localhost
    </trigmem_db_host>
    <trigmem_db_port>
       3306
    </trigmem_db_port>
    <min_core_client_version_announced> 602 </min_core_client_version_announced>
    <min_core_client_upgrade_deadline> 1241650148 </min_core_client_upgrade_deadline>
    <min_core_client_version> 602 </min_core_client_version>
    <profile_min_credit>0</profile_min_credit>
    <akismet_key>3b5341233a4a</akismet_key>
    <recaptcha_public_key>6Le_tAoAAAAAAGD1Djt-vsJ9sD4KfEfiWBYazJmJ</recaptcha_public_key>
    <recaptcha_private_key>6Le_tAoAAAAAAAxMo0svDpfZc94pfdbnVs5dyDII</recaptcha_private_key>
    <shmem_key>
      0x11119030
    </shmem_key>
    <show_results>1</show_results>
    <key_dir>
      /var/www/boinc/keys/
    </key_dir>
    <upload_url>
      http://qcn.stanford.edu/sensor_cgi/file_upload_handler
    </upload_url>
    <non_cpu_intensive>
       1
    </non_cpu_intensive>
    <daily_result_quota>
       5
    </daily_result_quota>
    <max_wus_in_progress>
      1
    </max_wus_in_progress>
    <ignore_delay_bound>
      1
    </ignore_delay_bound>
    <max_wus_to_send>
      1
    </max_wus_to_send>
  </config>
  <tasks>
    <task>
      <output>
        db_dump.out
      </output>
      <cmd>
        db_dump -d 0 -dump_spec ../db_dump_spec.xml
      </cmd>
      <period>
        24 hours
      </period>
    </task>
    <task>
      <output>
        weekly-host.out
      </output>
      <cmd>
        run_in_ops weekly-host.php
      </cmd>
      <period>
        7 days
      </period>
    </task>
    <task>
      <output>
        update_uotd.out
      </output>
      <cmd>
        run_in_ops update_uotd.php
      </cmd>
      <period>
        1 days
      </period>
    </task>
    <task>
      <output>
        update_forum_activities.out
      </output>
      <cmd>
        run_in_ops update_forum_activities.php
      </cmd>
      <period>
        1 hour
      </period>
    </task>
    <task>
      <output>
        do_stats.out
      </output>
      <cmd>
        do_stats.py
      </cmd>
      <period>
        3 days
      </period>
    </task>
    <task>
      <output>
        update_stats.out
      </output>
      <cmd>
        update_stats -update_users -update_teams -update_hosts
      </cmd>
      <period>
        7 days
      </period>
    </task>
    <task>
      <output>
        update_profile_pages.out
      </output>
      <cmd>
        run_in_ops update_profile_pages.php
      </cmd>
      <period>
        24 hours
      </period>
    </task>
    <task>
      <output>
        generate_maptrig.out
      </output>
      <cmd>
        generate_maptrig.sh
      </cmd>
      <period>
        30 minutes
      </period>
    </task>
    <task>
      <output>
        get_quakes.out
      </output>
      <cmd>
        parse-usgs-rss.py
      </cmd>
      <period>
        30 minutes
      </period>
    </task>
    <task>
      <output>
        team_import.out
      </output>
      <cmd>
        run_in_ops team_import.php
      </cmd>
      <period>
        24 hours
      </period>
    </task>
  </tasks>
  <daemons>
    <daemon>
      <cmd>
        file_deleter -d 2
      </cmd>
    </daemon>
    <daemon>
      <cmd>
        feeder -d 2
      </cmd>
    </daemon>
    <daemon>
      <cmd>
        transitioner -d 2
      </cmd>
    </daemon>
    <daemon>
      <cmd>
        qcn_trigmon -d 2 -sleep_interval 10 -count 6 -time_interval 15 -delete_interval 300
      </cmd>
    </daemon>
    <daemon>
      <cmd>
        jfl_trigmon -d 2 -sleep_interval .2 -time_interval 100
      </cmd>
    </daemon>
    <daemon>
      <cmd>
        jfl_display -d 2 -time_interval 15 -sleep_interval 2
      </cmd>
    </daemon>
  </daemons>
</boinc>

