0,5,10,15,20,25,30,35,40,45,50,55 * * * * /var/www/boinc/sensor/bin/start --cron
6,12,18,24,30,36,42,48,54 * * * * /var/www/boinc/continual/bin/start --cron
12 7 * * 0 /var/www/boinc/sensor/bin/clean_tmpdata.sh
