    <trigmem_db_user>
       trigmem
    </trigmem_db_user>
    <trigmem_db_name>
       trigmem
    </trigmem_db_name>
    <trigmem_db_passwd>
       insertTrigMem
    </trigmem_db_passwd>
    <trigmem_db_host>
       db-private
    </trigmem_db_host>
    <trigmem_db_port>
       3306
    </trigmem_db_port>

